@using sitesatis.Models.entity
@model sitesatis.Controllers.Viewmodel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_productdetails.cshtml";
}

<div class="col-lg-4">
    <div class="container-fluid bg-dark mt-2">
        <div class="row pt-2">
            <div class="col-12 pt-3 mt-2 bg-light pb-5">
                <img src="~/image/@Model.product.prouct_image_path" class="img-fluid" alt="Alternate Text" />
            </div>
        </div>
    </div>
</div>
<div class="col-lg-3">
    <div class="container-fluid bg-dark mt-2">
        <div class="row pt-2">
            <div class="col-12 pt-3 mt-2 bg-light pb-5">
                <div class="row font-weight-bold">
                    <div class="col-4">ürün adı</div>
                    <div class="col-1">:</div>
                    <div class="col">@Model.product.product_name</div>
                </div><br />
                <div class="row font-weight-bold">
                    <div class="col-4">ürün beden</div>
                    <div class="col-1">:</div>
                    <div class="col">
                        <select class="form-control" name="category_id" id="exampleFormControlSelect1">
                            <option>xlarge</option>
                            <option>large</option>
                            <option>medium</option>
                        </select>
                    </div>
                </div><br />
                <div class="row font-weight-bold">
                    <div class="col-4">ürün derecesi</div>
                    <div class="col-1">:</div>
                    <div class="col">
                        <span class="m-r-10 mdi mdi-star"></span>
                        <span class="m-r-10 mdi mdi-star"></span>
                        <span class="m-r-10 mdi mdi-star"></span>
                        <span class="m-r-10 mdi mdi-star-half"></span>
                        <span class="m-r-10 mdi mdi-star-outline"></span>

                    </div>
                </div><br />
                <div class="row ">
                    <div class="col-12 font-weight-bold">ürün açıklaması :</div><br />
                    <div class="col-12">@Model.product.product_content.ToString()</div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-dark mt-2">
        <div class="row pt-2">
            <div class="col-12 pt-3 mt-2 bg-light pb-5">
                <div class="row font-weight-bold">
                    <div class="col-3">fiyat</div>
                    <div class="col-1">:</div>
                    <div class="col"><span class="text-success" style="font-size:24pt;">@Model.product.product_price₺</span></div>
                    <div class="col-12">
                        <br />
                        <a href="/sepet/@Model.product.id">
                            <button class="btn btn-success btn-block">SEPETE EKLE</button>
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
