@using sitesatis.Models.entity
@{
    ViewBag.Title = "create";
    Layout = "~/Views/Shared/_adminpanel.cshtml";
}

<h2>Create</h2>
<div class="container">
    <div class="row d-flex justify-content-center ">
        <div class="col-6 p-4 bg-dark rounded">
            <form class="needs-validation" method="post" novalidate enctype="multipart/form-data">
                <div class="form-row">
                    <div class="col-md-12 mb-3">
                        <label for="validationTooltip01">kategori adı</label>
                        <input type="text" class="form-control" name="category_name" id="validationTooltip01" required>
                        <div class="valid-tooltip">
                            iyi
                        </div>
                    </div>
                </div>
                <button class="btn btn-primary" type="submit">Kategori Ekle</button>
            </form>
        </div>
    </div>
</div>